*{
    box-sizing: border-box;
    margin:auto;
    padding:auto;
    
}
body{
    font-family:fantasy;
}
.header{
    height:240px;
    width:180px;
    display:inline-block;
    line-height:10px;
    padding:2px;
    text-align: center;
    filter: blur(1px);
}
.header:hover{
    box-shadow: 5px 5px 5px rgb(88, 86, 86);
    filter:blur(0px);
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
h1{
    text-align: center;
    font-family: cursive;
}
p{
    font-family: cursive;
    text-align:center;
}
button{
    padding:5px;
    font-weight: bold;
    font-family: cursive;
    color:red;
    background-color: rgb(238, 181, 181);
    position:relative;
    left:50px;
    border-radius: 5px;
    cursor:pointer;
}
